.body_movie_page{

    background-image: url("https://wallpapercave.com/wp/wp2411645.jpg");
    background-color: #000000;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.main_MoviePage{
    width: 50vw;
    margin:0 25%;
    min-height: 90vh;

}

.conteudo_principal {
    margin-bottom: 10px;
    background-color: #24272E;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-right: 50px;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 15px black;

}

.capa_grande {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.capa_grande>img {
    height: 30vh;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 15px black;

}

.conteudo_principal_escrito {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 50%;
    max-height: 100%;
}

.area_criticas {
    border-top: 1px solid #636363;
    background-color: #24272E;
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    min-height: 55vh;

}

.adicionar_critica{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.adicionar_critica>textarea {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    width: 20vw;
    height: 8vh;
    resize: none;
    margin-left: 15px;

}

.adicionar_critica>button {
    margin-top: 2px;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
    margin-left: 15px;
    color: white;
    border-radius: 4px;
    filter: opacity(0.5);
    background-color: black;
    border: 2px solid white;
    width: 200px;
    height: 30px;

}

.adicionar_critica button:active {
    background-color: #636363;
}


.critica {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    border-bottom: 1px solid #636363;
    padding: 5px;
    width: 60%;
}

.critica>p {
    padding-left: 5px;
}