.descubra {
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.descubra::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://m.media-amazon.com/images/S/aplus-media-library-service-media/576e0c89-22ac-48b5-96fe-66578b5062f0.__CR0,0,1464,625_PT0_SX1464_V1___.jpg");
    filter: brightness(0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.descubra_inside {
    position: relative;
    width: 50%;
    font-size: 1.5em;
}

.acesso_rapido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acesso_rapido>h3 {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0px;
    padding-left: 20px;
}

.acesso_rapido_catalogo {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap-reverse;
    height: fit-content;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.capa_filme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
    height: 35vh;
    flex-wrap: wrap-reverse;
    height: fit-content;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.capa_filme>a {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.capa_filme>a>img {
    display: flex;
    height: 30vh;
    justify-content: center;
    margin-bottom: 6px;
    box-shadow: 7px 7px 15px black;

}

.capa_filme>a>img:hover {

    cursor: pointer;
    transition: all 0.5s ease; 
    transform: scale(1.05);
    filter: grayscale(100%) brightness(50%) blur(0.5px);
  }

.explore_button {
    margin-top: 30px;
    background-image: linear-gradient(to left, #FF3C5F, #9340FF);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    padding: 10px;
    color: black;
    border: 2px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
}