#sec1 {
    padding: 50px;
    width: 100%;
    height: 250px;
    background-image: url("../../../public/assets/cinema.jpg");
    backdrop-filter: brightness(0.85);
    margin-top: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
#sec1 > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
}
#sec1 > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

#sec2 {
    padding: 10px;
    width: 100%;
    padding-left: 40px;
    padding-right: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="search"] {

    width: 300px;
    height: 30px;
}
#sec2 > #busca > button {
    color: white;
    border-radius: 4px;
    filter: opacity(0.5);
    background-color: black;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    border: 2px solid white;

}
#sec2 > #busca > button:hover {
    cursor: pointer;
}
#sec2 > #busca > button:active {
    background-color: #636363;
}

input::placeholder {
    color: #636363;
    padding-left: 10px;
}

#add > button {
    color: white;
    border-radius: 4px;
    filter: opacity(0.5);
    background-color: black;
    border: 2px solid white;
    width: 200px;
    height: 30px;
}
#add > button:hover {
    cursor: pointer;
}
#add > button:active {
    background-color: #636363;
}

#sec3 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#genero {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 1px;
    width: 90%;
}

#movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    width: 100%;
    flex-wrap: wrap;

}

#movie {
    height: 100%px;
}

#movie > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#movie > a > img {
    height: 200px;
    margin-bottom: 10px;
}

#movie >a >img:hover {
    cursor: pointer;
    box-shadow: 7px 7px 15px black;
    transition: all 0.5s ease; 
    transform: scale(1.05);
    filter: grayscale(100%) brightness(50%) blur(0.5px);
}
#movie>a>h3 {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#movie >a > h3 > i:hover {
    cursor: pointer;
    text-decoration: underline;
}

#movie >a >h5:hover {
    cursor: pointer;
}